// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$hl-max-width: 1140px;


/* screen size */
$break-mobile-small: 225px;
$break-mobile-medium: 250px;
$break-mobile-large: 275px;
$break-mobile-last: 320px;

$break-large-mobile-last: 475px;

$break-xs: 575px;

$break-small-start: 576px;
$break-small-end: 767px;

$break-medium-start: 768px;
$break-medium-end: 991px;

$break-large-start: 992px;
$break-large-end: 1200px;

$break-large-extra: 1200px;

$footer-bottom-mb: 625px;

$pn-card: 275px;
$pn-card-h2: 650px;
$pn-next-card: 276px;


// Fonts
$main-font: 'PT Serif', serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$fontawesome: FontAwesome;
$poppins: 'Poppins', sans-serif;
$lato: 'Lato', sans-serif;

// Colors
$default-color: #f53e4a;
$button-color: linear-gradient(to bottom, #f53e4a, #db0310);
$footer-bg: #090909;
$footer-wb-bg: #0c0c0c;


// Font Size
$default-font-size: 14px;

// Heights
$owl-carousel-max-height: 390px;